<app-sub-nav></app-sub-nav>
<div class="container border" style="background-color: cadetblue; 
    width: 600px;  margin: 20px auto; border-radius: 10px;" > 
    <div class="container border" *ngFor="let comment of comments">
        <div>
            <div >
                <div >
                    <p><strong>{{comment.empId.first}}</strong> : {{comment.textId.textstring}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input id="userComment" type="text" class="form-control mb-4"  [(ngModel)]="userComment" 
        (keydown.enter)="submit()" placeholder="Comment" maxlength="255"/>
    </div>
</div>
