
<nav class="mb-1 navbar navbar-expand-lg navbar-dark coral">
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task"><i class="fas fa-clipboard-list"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/discussions"><i class="fas fa-comments"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages"><i class="fas fa-comment"></i></a>
         </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/events"><i class="fas fa-calendar-week"></i></a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" routerLink="/files"><i class="far fa-file"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/activities"><i class="fas fa-chart-line"></i></a>
        </li> 
    </ul>
    </div>
  </nav>
