.list-box {
    width: 20%;
    height: 15em;
    list-style: none;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    overflow: auto;
}

.item-selected {
    background-color: gray;
}

.list-container {
    margin: 1em 0;
    height: 16em;
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.buttons-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
