<ng-container *ngIf="!loggedUser; else logged">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="C:\Users\JONME\Student\WorkPipe\src\app\shared\login\trello.png" class="card-img">
      </div>
      <div class="col-md-8" style="background-color: cadetblue;">
        <div class="card-body">
            <p class="h4 mb-4">Login</p>
            <input id="username" type="text" class="form-control mb-4" [(ngModel)]="username" placeholder="Username" required/>
            <input id="password" type="password" class="form-control mb-4"  [(ngModel)]="password" (keydown.enter)="login()" placeholder="Password" required/>
            <!-- Sign in button -->
            <button class="bg-indigo-500 hover:bg-indigo-600 text-black 
              text-xl font-medium py-2 px-4 rounded" (click)="login()" type="submit">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
  <ng-template #logged>
    <p>Welcome </p>
    <p>{{loggedUser.first}}</p>

    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <div *ngIf="loggedUser.employee">
          <span id="welcome">Welcome {{loggedUser.employee.title}}!
            {{loggedUser.employee.first + " " + loggedUser.employee.last}}</span>
        </div>
      </li> -->
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()" routerLink="/home">Logout</button>
      </li>
    </ul>
  </ng-template>