<app-nav-bar></app-nav-bar>
      <ng-container *ngIf="this.employee.title === 'Supervisor'; else user">
        <div class="container-fluid">
          <div class="row mt-5">
            <div class="card mb-5" *ngFor="let projInfo of projects" style="background-color: rgba(58, 74, 74, 0.85); 
            width: 250px; float: left; margin-left: 30px;  border-radius: 10px;">
                <div class="card-header "  >
                    <p class="" style="color: rgba(41, 242, 233)">Project ID: {{projInfo.id}}</p>
                </div>
                <a href="/project/{{projInfo.id}}">
                <div class="card-body text-center">
                  <a routerLink="/project/{{projInfo.id}}" style="color: rgba(41, 242, 233)"> <h4>{{projInfo.projectName}}</h4></a>
                  <h1 class="card-text" style="color: rgba(41, 242, 233)">Project Lead: {{projInfo.lead.first}}</h1>
                  <h1 class="card-text" style="color: rgba(41, 242, 233)">Project Start Date: {{projInfo.startdate | date}}</h1>
                  <a href="/project/{{projInfo.id}}" class="btn btn-outline-info text-center" style="color: rgba(41, 242, 233)">Project Details</a>
                </div>
              </a>
          </div>
          </div>
        </div>
      </ng-container>
<ng-template #user>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="card mb-5" *ngFor="let projInfo of projects" style="background-color: rgba(58, 74, 74, 0.85); 
    width: 250px; float: left; margin-left: 30px;  border-radius: 10px;">
        <div class="card-header "  >
            <p class="" style="color: rgba(41, 242, 233)">Project ID: {{projInfo.id}}</p>
        </div>
        <a href="/project/{{projInfo.id}}">
        <div class="card-body text-center">
          <a routerLink="/project/{{projInfo.id}}" style="color: rgba(41, 242, 233)"> <h4>{{projInfo.projectName}}</h4></a>
          <h1 class="card-text" style="color: rgba(41, 242, 233)">Project Lead: {{projInfo.lead.first}}</h1>
          <h1 class="card-text" style="color: rgba(41, 242, 233)">Project Start Date: {{projInfo.startdate | date}}</h1>
          <a href="/project/{{projInfo.id}}" class="btn btn-outline-info text-center" style="color: rgba(41, 242, 233)">Project Details</a>
        </div>
      </a>
  </div>
  </div>
</div>
</ng-template>

