<app-nav-bar></app-nav-bar>
<a routerLink="/tasks">Project info</a>
<div class="container border"  *ngFor="let projInfo of project" > 
    <div class="col-sm border card">
        <h4 class="border border-dark mx-auto">{{projInfo.projectname}}</h4>
    </div>
    <div class="col-sm">
        <div class="row">
          <div class="col">
            <h5>Project Lead:</h5>
          </div>
          <div class="col">
            <p>{{projInfo.Lead}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Start Date:</h5>
          </div>
          <div class="col">
            <p>{{projInfo.startdate | date}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>End Date:</h5>
          </div>
          <div class="col">
            <p>{{projInfo.enddate | date}}</p>
          </div>
        </div>
    </div>
</div>