<app-nav-bar></app-nav-bar>
<div class="container border"  *ngFor="let projInfo of projects" style="background-color: cadetblue; 
width: 300px; float: left; margin-left: 30px; border-radius: 10px;" > 
  <a routerLink="/tasks"> <h4>{{projInfo.projectname}}</h4></a>
    <div class="col-sm">
        <div class="row">
          <div class="col">
            <h5>Project Lead</h5>
            <p>{{projInfo.lead.first}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Start Date</h5>
            <p>{{projInfo.startdate | date}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>End Date</h5>
            <p>{{projInfo.enddate | date}}</p>
          </div>
        </div>
    </div>
</div>
