<app-sub-nav></app-sub-nav>
<div class="container border" *ngFor="let comment of comments">
    <div class="row">
        <div class="col-sm">
            <div class="col">
                <p><strong>{{comment.employee.first}}</strong> : {{comment.textId.textstring}}</p>
            </div>
        </div>
    </div>
</div>
<div>
    <input id="userComment" type="text" class="form-control mb-4"  [(ngModel)]="projectComment.text.text" 
    (keydown.enter)="submit()" placeholder="Comment" maxlength="255"/>
</div>